<div style="margin-top: 50px">
  <h4>Sở thích</h4>
  <hr>
</div>
<label>Games</label>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    Counter Strikes 1.1
  </li>
  <li class="list-group-item">
    Counter Strikes 1.6
  </li>
  <li class="list-group-item">
    Counter Strikes Global Offensive
  </li>
</ul>

<hr>

<label>Âm nhạc</label>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between">
    <span>Nhạc cách mạng</span>
  </li>
  <li class="list-group-item">
    <span>Nhạc rock 70s - 80s</span>
  </li>
  <li class="list-group-item">
    <span>Nhạc phim TVB cũ</span>
  </li>
  <li class="list-group-item">
    <span>Nhạc trẻ VN đời đầu 8x,9x</span>
  </li>
  <li class="list-group-item">
    <span>Ca sỹ (nhóm nhạc) yêu thích : Mỹ Tâm, Lam Trường, Đan Trường, Minh Quân, Cẩm Ly, Tam ca 3A</span>
  </li>
</ul>

<hr>

<label>Phim</label>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between">
    <span>Âu mỹ, hành động khoa học viễn tưởng (Marvel Cinematic Universe), phim vũ trụ ( Interstellar )</span>
  </li>
  <li class="list-group-item">
    <span>Phim Việt Nam cũ, Phía trước là bầu trời, Thằng Bờm ...</span>
  </li>
  <li class="list-group-item">
    <span>Phim Trung quốc cũ ( Bao thanh thiên 1993, Tây du ký 1986, Lò võ thiếu lâm... )</span>
  </li>
</ul>

