<div style="margin-top: 50px">
  <h4>Favourite</h4>
  <hr>
</div>
<label>Games</label>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between">
    <div>Counter Strikes 1.1 ( 2 years recently, still playing)</div>
    <div><a href="https://youtu.be/seK5hIAwJU0" target="_blank" style="color: blue">
      check out my highlight video</a></div>
  </li>
  <li class="list-group-item">
    Counter Strikes 1.6 ( 5 years recently, still playing)
  </li>
  <li class="list-group-item">
    Counter Strikes Global Offensives ( last time I play is 5 years ago, gave up)
  </li>
</ul>

<hr>

<label>Musics</label>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between">
    <span>Nhạc cách mạng, nhạc <a href="https://nhac.vn/bai-hat/thoi-hoa-do-thai-bao-soQBek4" target="_blank" style="color:red">đỏ</a></span>
  </li>
  <li class="list-group-item">
    <span>Nhạc rock 70s - 80s</span>
  </li>
  <li class="list-group-item">
    <span>Nhạc phim TVB cũ</span>
  </li>
  <li class="list-group-item">
    <span>Nhạc trẻ VN đời đầu 8x,9x</span>
  </li>
  <li class="list-group-item">
    <span>Ca sỹ (nhóm nhạc) yêu thích : Mỹ Tâm, Lam Trường, Đan Trường, Minh Quân, Cẩm Ly, Tam ca 3A</span>
  </li>
</ul>

<hr>

<label>Films</label>
<ul class="list-group list-group-flush">
  <li class="list-group-item d-flex justify-content-between">
    <span>Âu mỹ, hành động khoa học viễn tưởng (Marvel Cinematic Universe), phim vũ trụ ( Interstellar )</span>
  </li>
  <li class="list-group-item">
    <span>Phim Việt Nam cũ, Phía trước là bầu trời, Thằng Bờm ...</span>
  </li>
  <li class="list-group-item">
    <span>Phim Trung quốc cũ ( Bao thanh thiên 1993, Tây du ký 1986, Lò võ thiếu lâm... )</span>
  </li>
</ul>

<div style="margin-top: 50px">
  <h4>Why I choose IT ?</h4>
  <span style="font-size: 20px">  Không phải dòng đời xô đẩy mình mới vào làm IT, nhưng thực sự không phải ai cũng có những lựa chọn dễ dàng cho bản thân ví dụ :
  sau này lớn lên mình sẽ làm bác sĩ, mình sẽ làm kĩ sư, mình sẽ làm giáo viên... <br>
  Mình cũng đã làm kha khá những công việc như bồi bàn (3 năm ), chạy ads ( 2 tháng ), giao hàng ( 2 năm ) đó... <br>
  Nhưng sau ngần ấy thời gian làm những công việc đó, mình cảm thấy chưa có 1 công việc nào khiến mình phải liên tục nghĩ về nó khi vắt tay
  lên trán khi ngủ và cuộc sống khi ấy thật nhàm chán. <br>
  Đó là khi mình nghĩ đến IT và làm 1 cái gì đấy thật mới, thật khác. Và cho đến hiện tại mình cảm thấy thật may mắn vì dường như mình đã chọn đúng con
  đường cần đi ^^</span>
  <hr>
</div>
