<script type="javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

<div class="main-box">
  <div class="header d-flex justify-content-between">
    <div class="img-box">
      <img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t39.30808-6/317446187_526583812832566_4604516287038505080_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=6uWDRI3hMIUAX9nFAHf&_nc_ht=scontent.fsgn2-2.fna&oh=00_AfDX596RrTXgcFnwZgpnqkxH2f2otIvmEpLZPgQaTNIzig&oe=638DAC8A" alt="">
    </div>
    <div class="name-banner text-lg-end">
      <h1>LE VIET DUC</h1>
      <h2>Java Developer</h2>
      <h2>Age : 26</h2>
    </div>
  </div>
  <div class="nav-bar row">
    <div class="col-4 text-center nav-link" routerLink="/"><a class="text-decoration-none">Home</a></div>
    <div class="col-4 text-center nav-link" routerLink="/about"><a class="text-decoration-none">About me</a></div>
    <div class="col-4 text-center nav-link dropdown-toggle " data-bs-toggle="dropdown"><a class="text-decoration-none">Projects</a>
    </div>
    <div class="dropdown-menu">
      <li class="text-center"><a class="dropdown-item" [routerLink]="['/sample-project','calculator']">Calculator</a></li>
      <li class="text-center" ><a class="dropdown-item" [routerLink]="['/sample-project','todo-list']">Todo List</a></li>
    </div>
  </div>
  <div class="wrapper-content">
    <router-outlet></router-outlet>
  </div>
</div>

