<script type="javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

<div class="main-box">
  <div class="header d-flex justify-content-between">
    <div class="img-box">
      <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.6435-9/97923824_137258221218224_3830036433372971008_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=3_i5gwalNB0AX8Pi9rz&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfBl47o5-irfCWTWKzgZQQLXvGSaQy06zl-Z0zUakNPafg&oe=63ADAFC2" alt="">
    </div>
    <div class="name-banner text-lg-end">
      <h1>LE VIET DUC</h1>
      <h2>Java Developer</h2>
      <h2>Age : 26</h2>
    </div>
  </div>
  <div class="nav-bar row">
    <div class="col-4 text-center nav-link" routerLink="/"><a class="text-decoration-none">Home</a></div>
    <div class="col-4 text-center nav-link" routerLink="/about"><a class="text-decoration-none">About me</a></div>
    <div class="col-4 text-center nav-link dropdown-toggle " data-bs-toggle="dropdown"><a class="text-decoration-none">Projects</a>
    </div>
    <div class="dropdown-menu">
      <li class="text-center"><a class="dropdown-item" [routerLink]="['/sample-project','calculator']">Calculator</a></li>
      <li class="text-center" ><a class="dropdown-item" [routerLink]="['/sample-project','todo-list']">Todo List</a></li>
    </div>
  </div>
  <div class="wrapper-content">
    <router-outlet></router-outlet>
  </div>
</div>

