<div class="d-flex main-cv">
  <div class="col-4 basic-info">
    <div class="d-flex flex-column">
      <div>
        <i class="fa fa-calendar"></i>
        <span style="margin-left: 40px">30/10/1996</span>
      </div>
      <hr>
      <div>
        <i class="fa fa-phone"></i>
        <span style="margin-left: 40px">037 384 8605</span>
      </div>
      <hr>
      <div>
        <i class="fa fa-inbox"></i>
        <span style="margin-left: 40px">vietduc.bk69@gmail.com</span>
      </div>
      <hr>
      <div>
        <i class="fa fa-facebook" ></i>
        <span style="margin-left: 40px;display: inline">https://www.facebook.com/zingw</span>
      </div>
      <hr>
      <div>
        <i class="fa fa-location-arrow"></i>
        <span style="margin-left: 40px;display: inline">Lĩnh Nam, quận Hoàng Mai, Hà Nội</span>
      </div>
      <hr>
    </div>
  </div>
  <div class="col-8 work-skills">
    <div style="padding-bottom: 30px;">
      <h4>Mục tiêu nghề nghiệp</h4>
      <span>Phấn đấu trở thành 1 Web developer, có thể tự xây dựng các trang web bán hàng trong 1 năm với các chức năng cơ bản</span>
      <hr>
    </div>

    <div style="padding-bottom: 30px;">
      <h4>Kinh nghiệm làm việc</h4>
      <hr>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-bordered w-100">
        <thead>
        <tr>
          <th>Thời gian</th>
          <th>Vị trí làm việc</th>
          <th>Công ty</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>15/8/2022 - 15/9/2022</td>
          <td>Thực tập sinh</td>
          <td>Công ty TNHH Soft Dreams</td>
        </tr>
        <tr>
          <td>15/9/2022 - 15/10/2022</td>
          <td>Cộng tác viên</td>
          <td>Công ty TNHH Soft Dreams</td>
        </tr>
        <tr>
          <td>15/10/2022 - Hiện tại</td>
          <td>Thử việc</td>
          <td>Công ty TNHH Soft Dreams</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div style="padding-bottom: 30px;">
      <h4>Công việc chính</h4>
      <hr>
      <span>Xây dựng, phát triển và bảo trì website của công ty, bao gồm:</span>
      <ul>
        <li>Chỉnh sửa giao diện theo yêu cầu leader</li>
        <li>Thiết kế giao diện theo yêu cầu leader</li>
        <li>CRUD với database</li>
        <li>Exposes REST API</li>
        <li>Deploy dự án sử dụng Oracle Weblogic</li>
      </ul>

      <h4>Các công nghệ sử dụng trong dự án</h4>
      <hr>
      <span>Quản lí code & làm việc với tester</span>
      <ul>
        <li>BitBuckets</li>
        <li>Jira</li>
      </ul>
      <span>IDE & TestAPI</span>
      <ul>
        <li>Inteliji IDEA</li>
        <li>Postman</li>
      </ul>
      <span>Library & Framework Backend</span>
      <ul>
        <li>Spring boot</li>
        <li>JDK1.8, JDK 11,Jhipster Project</li>
      </ul>
      <span>Library & Framework Frontend</span>
      <ul>
        <li>Ng Boostrap</li>
        <li>Angular CLI, Typescript</li>
        <li>HTML,CSS</li>
      </ul>
      <span>Database</span>
      <ul>
        <li>Oracle SQL</li>
        <li>Weblogic console</li>
      </ul>

      <h4>Dự án chính - SMART OTP</h4>
      <hr>
      <span>Mô tả : Giải pháp SmartOTP là Software OTP, thay thế cho SMS OTP, tương tự như các giải
        pháp Software OTP đang sử dụng trong các ứng dụng đi động do các ngân hàng thương
        mại phát hành.
        - Giải pháp được phát triển bằng cách nâng cấp ứng dụng Mobile hiện tại, đồng thời nâng
        cấp cả ứng dụng ở backend để có thể xử lý, lưu trữ cho OTP</span>
    </div>
  </div>
</div>
