<div class="main-box">
  <div class="header d-flex justify-content-between">
    <div class="img-box">
      <img src="/content/images/ava.jpg" alt="">
    </div>
    <div class="name-banner text-lg-end">
      <h1>LE VIET DUC</h1>
      <h2>Age : 26</h2>
    </div>
  </div>
  <div class="nav-bar row">
    <div class="col-4 text-center nav-link"><a>Home</a></div>
    <div class="col-4 text-center nav-link"><a>About me</a></div>
    <div class="col-4 text-center nav-link"><a>Projects</a></div>
  </div>

</div>
